### 2024-12-19

#### 파이썬 기본 문법

In [67]:
print('Hello Python')

Hello Python

In [68]:
print('Hello Python)

SyntaxError: unterminated string literal (detected at line 1) (172053.py, line 1)

In [5]:
print("Hello Python")

Hello Python

In [6]:
print('Hello Python')
print('Hello Python')
print('Hello Python')

Hello Python
Hello Python
Hello Python

In [19]:
print(Hello Python)
print(Hello Python)
print(Hello Python)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1682135643.py, line 1)

In [ ]:
print(Hello, Python)
print(Hello, Python)
print(Hello, Python)

NameError: name 'Hello' is not defined

In [ ]:
print(1)
print(2)
print(3)

1
2
3

In [22]:
print('1')
print('2')
print('3')

1
2
3

In [23]:
print(1+2)
print(2+3)
print(3+4)

3
5
7

In [24]:
print('1+2')
print('2+3')
print('3+4')

1+2
2+3
3+4

In [25]:
1+2
2+3
3+4

7

Hello
Python
홍길동 나이 = 20 세

In [26]:
# 프린트문 연습중입니다
print('Hello')
print('Python')
print('홍길동', '나이 =', 20, '세')

Hello
Python
홍길동 나이 = 20 세

In [27]:
print('Hello')
 print('Python')

IndentationError: unexpected indent (3940343424.py, line 2)

In [29]:
print('Hello'); print('Python')

print('Nice \
      to meet you')

Hello
Python
Nice       to meet you

In [30]:
print('Hello'); print('Python')

print('Nice 
      to meet you')

SyntaxError: unterminated string literal (detected at line 3) (1831640207.py, line 3)

In [31]:
print('Hello') print('Python')

SyntaxError: invalid syntax (2730058062.py, line 1)

In [32]:
print('Hello'), print('Python')

Hello
Python

(None, None)

In [38]:
print('Hi', 'Python')

Hi Python

In [39]:
# sep는 두개의 변수 사이에 뭘 넣을지 정한것
print('Hi', 'Python', sep='*')

Hi*Python

In [40]:
print('Hi', 'Python', sep='')

HiPython

In [41]:
# end는 줄바꿈이지만 ' '공백 넣으면 띄어쓰기함함
print('Hi', end=' ') 
print('Python')

Hi Python

#### 변수

In [42]:
name = '홍길동'
age = 30

print(name, '나이 =', age, '세')

홍길동 나이 = 30 세

In [43]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [44]:
type(name)

str

In [45]:
type(age)

int

In [ ]:
str()
int()
float()
bool()

In [46]:
bool('True')

True

In [48]:
type('True')

str

In [49]:
type(True)

bool

In [54]:
bool(0)

False

In [57]:
bool(2)

True

In [58]:
bool(' ')

True

In [59]:
bool('')

False

In [60]:
bool('hello')

True

In [62]:
## 미션

a = 3
b = 4

# ToDo: 합, 차, 곱, 나눗셈, 몫, 나머지를 출력

In [65]:
print('합 =', a + b)
print('차 =', a - b)
print('곱 =', a * b)
print('나눗셈 =', a / b)
print('나머지 =', a % b)
print('몫 =', a // b)
print('제곱 =', a ** b)

합 = 7
차 = -1
곱 = 12
나눗셈 = 0.75
나머지 = 3
몫 = 0
제곱 = 81

In [124]:
n = 3456

# ToDo: 각 자리의 숫자를 출력

In [125]:
print(n//1000%10)
print(n//100%10)
print(n//10%10)
print(n//1%10)

3
4
5
6

In [126]:
pay = 12345678 

# ToDo= 100미만 절사 처리!

print(pay//100*100)

12345600

In [39]:
# 변수 a에 저장된 값의 b자리 값을 계산하여 변수 c에 저장하는 코드를 설계
# ex) b가 1일경우 첫번째 자리수은 1, b가 3일경우 셋째 자리수인 3으로 출력

a = 1234
b = 1
#출력예시: b가 1이면 4, b가 3이면 2
c = a//10**(b-1)%10
print(c)

4

In [40]:
print( (3 < 5) and (3 > 0))
print( (4 < 7) or (5 > 8))
print( not(5 < 9))

True
True
False

In [41]:
# \'  \'는 문장 속에 ''표시를 따로 넣을 때 사용
# or \n 사용해도 가능
'어머님은 \'자장면\'이 싫다고 하셨어'

"어머님은 '자장면'이 싫다고 하셨어"

In [42]:
# ''' ''' or """""" 는 여러줄의 문자열을 표현할때 사용 ex) 기사
multiline ="""
Hellow
    Hellow
Hellow
Hellow
        Hellow Hellow
Hellow Hellow
Hellow Hellow """

print(multiline)

Hellow
    Hellow
Hellow
Hellow
        Hellow Hellow
Hellow Hellow
Hellow Hellow

In [43]:
head = 'Python'
tail = 'Hello'

head + tail

'PythonHello'

In [44]:
head - tail

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [190]:
head * 3

'PythonPythonPython'

In [192]:
len(head)

6

In [193]:
samplestring = 'Life is too short'

In [194]:
len(samplestring)

17

In [198]:
print('\'낮말\'은 새가 듣고 \'밤말\'은 쥐가 듣는다')

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다

In [199]:
samplestring[8]

't'

In [200]:
samplestring[13]

'h'

In [202]:
samplestring[-5]

's'

In [209]:
print(samplestring[8]+samplestring[9]+samplestring[10])
samplestring[8:11]

too

'too'

In [213]:
print(samplestring[:])
samplestring[::3]

Life is too short

'Lesosr'

In [ ]:
smaple = 'Life is too short, You need Python'

In [222]:
print(smaple[0]+smaple[1]+smaple[3])

Lie

In [223]:
print(smaple[19]+smaple[24:26])

Yee

### 사용자 입력

In [ ]:
name = input('이름을 입력하세요.')

print('당신의 이름은 ' + name+ '입니다')

당신의 이름은 뚱떙이입니다

In [ ]:
## 미션
# 사용자로부터 두개의 정수를 입력 받아서
# 덧셈을 출출력하는 프로그램을 만들어주세여

In [ ]:
num1 = int(input())
num2 = int(input())

print(num1 + num2)

7

In [232]:
side1 = int(input())
height = int(input())

print(side1 * height * 0.5)

9.0

In [233]:
Kimbob = int(input())
Tteok = int(input())
Ramen = int(input())

Total = Kimbob*3000 + Tteok*3500 + Ramen*2500

print(Total)

32000

In [234]:
#f-string 이용

a = float(input('첫 번째 값 입력: '))
b = float(input('두 번째 값 입력: '))

print(f'{a: .2f} * {b: .3f} = {a*b:,.2f}')

 1000.12 *  2000.457 = 2,000,703.65

In [259]:
# 반지름 실수값을 입력 받아, 원의 둘레와 넓이 계산
# 소숫점 이하 1자리로 표시, 원의 넓이는 천단위 쉼표(,) 표시
# f-string 이용

r = float(input('반지름 입력(cm): '))
p = float(input('3.14 입력: '))


print(f'{p: .2f} * {r: .1f} * {r: .1f} = {p*r*r: ,.1f}')

print(f'{p: .2f} * 2*{r: .1f} = {2*p*r: ,.1f}')

 3.14 *  150.7 *  150.7 =  71,309.0
 3.14 * 2* 150.7 =  946.4

### 조건문

In [ ]:
money = False

if money:
    print('맛난거 먹기')
    print('노래방도 가고')
    print('영화도 보고')

In [271]:
result = 10 > 4
if result:
    print('this is test')


result = 10 - 4
if result:
    print('Hello Python')

this is test
Hello Python

In [277]:
money = 10 - 10

if money:
    print('맛난거 먹기')
else:
    print('친구한테 얻어먹기')
    print('고오맙다 친구야...')
print('냠냠 맛있다')

친구한테 얻어먹기
고오맙다 친구야...
냠냠 맛있다

In [ ]:
# 홀수 짝수 구분하기

num = int(input('숫자를 입력하세요: '))

if (num %2 == 0):
    print('짝수 입니다')
else:
    print('홀수 입니다')

짝수 입니다

In [284]:
score = int(input('성적을 입력하세요: '))

if score >= 90:
    print('A')
elif score >=80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

D

In [298]:
year = int(input('출생연도 끝자리를 입력하세요: '))
birth = int(input('나이를 입력하세요: '))

if birth >= 65:
    print('언제든지 구매 가능하십니다.')
elif year == (1 or 6):
    print('월요일에 구매가능 하십니다.')
elif year == (2 or 7):
    print('화요일에 구매가능 하십니다.')
elif year == (3 or 8):
    print('수요일에 구매가능 하십니다.')
elif year == (4 or 9):
    print('목요일에 구매가능 하십니다.')
else:
    print('금요일에 구매가능 하십니다.')

월요일에 구매가능 하십니다.

In [317]:
tall = float(input('키를 입력하세요(cm): '))
weight = float(input('몸무게를 입력하세요(kg): '))

BMI = weight / (tall * tall) * 10000

if (BMI >= 25):
    print(f'BMI 지수는 "{BMI: .2f}"로 비만입니다.')
elif (BMI >= 23):
    print(f'BMI 지수는 "{BMI: .2f}"로 과체중입니다.')
elif (BMI >= 18.5):
    print(f'BMI 지수는 "{BMI: .2f}"로 정상체중입니다.')
else:
    print(f'BMI 지수는 "{BMI: .2f}"로 저체중입니다.')

BMI 지수는 "27.04"로 비만입니다.

In [32]:
day = int(input('오늘은 몇 일?'))
carnum = input('차량번호 4자리를 입력하세요.')

if day > 31 or 0 > day:
    print('일\'(day)\' 입력 오류입니다.')
elif len(carnum) < 4:
    print('차량번호 입력 오류입니다')
elif day % 2 == 0 and len(carnum) ==4:
    print('짝수 차량 운행날 입니다.')
    print('운행 가능합니다.')
else:
    print('홀수 차량 운행날입니다.')
    print('운행가능 합니다.')

짝수 차량 운행날 입니다.
운행 가능합니다.

In [ ]:
#떠올리기1
Name = input('이름을 입력하세요.: ')
visit = input('방문 횟수를 입력하세요.: ')

print(Name+'님 안녕하세요?')
print('오늘로', visit+'회 방문하셨어요.')

헤리님 안녕하세요?
오늘로 11회 방문하셨어요.

In [56]:
#떠올리기2
#성별, 출생년도, 월, 일, 생년월일, 주민등록번호 뒷자리등 원하는 내용 잘라오기
#문자열의 인덱싱과 슬라이싱

jumin = '951013-1234567'

print('출생년도는', jumin[0:2])
print('월은', jumin[2:4])
print('일은', jumin[4:6])
print('성별은', jumin[7])
print('주민번호 뒷자리는', jumin[-7:])

출생년도는 95
월은 10
일은 13
성별은 1
주민번호 뒷자리는 1234567

In [73]:
#떠올리기 업그레이드 미션
string = '이번역은 역삼역, 역삼역입니다. 앞으로 읽어도 역삼역 거꾸로 읽어도 역삼역'

#ToDo: YOUR_CODE_HERE
print(string[::-1])

역삼역 도어읽 로꾸거 역삼역 도어읽 로으앞 .다니입역삼역 ,역삼역 은역번이

In [88]:
user_id = 'admin'
user_pw = '1234'

# ToDo: YOUR_CODE_HERE

user_id_a = input('아이디를 입력하세요: ')
user_pw_a = input('비밀번호를 입력하세요: ')

# 디버그메시지 출력
print(user_id, user_pw)
print(user_id_a, user_pw_a)

if user_id == user_id_a and user_pw == user_pw_a:
    print('로그인 되셨습니다!')
elif user_id != user_id_a and user_pw == user_pw_a:
    print('아이디를 확인하세요.')
elif user_id == user_id_a and user_pw != user_pw_a:
    print('비밀번호를 확인하세요')
else:
    print('로그인에 실패하셨습니다.')

admin 1234
admin 1234
로그인 되셨습니다!

#### while 반복문

In [93]:
i = 0
while i < 5:
    print(f'{i}번째 출력:Hello Python')
    i = i+1
print('반목문 종료')

0번째 출력:Hello Python
1번째 출력:Hello Python
2번째 출력:Hello Python
3번째 출력:Hello Python
4번째 출력:Hello Python
반목문 종료

In [94]:
# 1부터 20까지 출력하기로 변경

i = 1
while i <= 20:
    print(i)
    i += 1 # <= i = i + 1
print('반목문 종료')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
반목문 종료

In [ ]:
# 사용자로부터 정수 값을 받아서
# 1부터 입력받은 숫자까지의 합을 구하기기

endValue = int(input('합을 원하는 정수값 입력: '))

i = 0
hap = 0

while i < endValue:
    i += 1
    hap += i 
print(f'1부터 {endValue}까지의 합은 {hap}입니다.')

1부터 1000까지의 합은 500500입니다.

In [ ]:
endValue = int(input('곱을 원하는 정수값 입력: '))
i = 0
gop = 1

while i < endValue:
    i += 1
    gop = gop * i
print(f'1부터 {endValue}까지의 곱은 {gop}입니다.')

1부터 5까지의 곱곱은 120입니다.

In [141]:
endValue = int(input('합을 원하는 정수값 입력: '))

i = 0
J_hap = 0

while i < endValue:
    i += 1
    if i % 2 == 0:
        J_hap += i
print(f'1부터 {endValue}까지의 짝수합은 {J_hap}입니다.')

1부터 4까지의 짝수합은 6입니다.

In [142]:
endValue = int(input('합을 원하는 정수값 입력: '))

i = 0
H_hap = 0

while i < endValue:
    i += 1
    if i % 2 != 0:
        H_hap += i
print(f'1부터 {endValue}까지의 홀수합은 {H_hap}입니다.')

1부터 5까지의 홀수합은 9입니다.

In [147]:
prompt = """
1. ADD
2. Del
3. Quit

Enter number:
"""
input_num = 0

while input_num !=3:
    print(prompt)
    input_num = int(input())

1. ADD
2. Del
3. Quit

Enter number:

In [148]:
for i in "hello":
    print('Hello python')

Hello python
Hello python
Hello python
Hello python
Hello python

In [149]:
for i in "hello":
    print(i)

h
e
l
l
o

In [150]:
for i in range(5):
    print('Hello python')

Hello python
Hello python
Hello python
Hello python
Hello python

In [151]:
for i in range(10,0,-1):
    print('Hello python')

Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python

In [155]:
for i in range(6,0,-1):
    print('Hello python')

Hello python
Hello python
Hello python
Hello python
Hello python
Hello python

In [156]:
for i in range(2,8):
    print('Hello python')

Hello python
Hello python
Hello python
Hello python
Hello python
Hello python

In [157]:
for i in range(0,8,2):
    print('Hello python')

Hello python
Hello python
Hello python
Hello python

In [162]:
# 사용자로부터 정수 값을 받아서
# 1부터 입력받은 숫자까지의 합을 구하기
# for문과 range()함수를 사용

endValue = int(input('합을 원하는 정수값 입력: '))

i = 0
hap = 0

for i in range(1,endValue+1):
    hap += i 
print(f'1부터 {endValue}까지의 합은 {hap}입니다.')

1부터 10까지의 합은 55입니다.

In [ ]:
# 사용자로부터 입력받은 숫자에 해당하는 구구단 출력

dan = int(input('출력할 단 입력: '))

i = 0

print(f'*** {dan}단 ***')
for i in range(1,10):
    print(f'{dan}  * {i} = {dan*i:<3}')

*** 6단 ***
6  * 1 = 6
6  * 2 = 12
6  * 3 = 18
6  * 4 = 24
6  * 5 = 30
6  * 6 = 36
6  * 7 = 42
6  * 8 = 48
6  * 9 = 54

In [ ]:
dan = int(input('출력할 단 입력: '))

i = 0

print(f'*** {dan}단 ***')
while i <= 8:
    i += 1
    print(f'{dan} * {i} = {dan*i:<3}')

print('구구단 끝')

*** 8단 ***
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
구구단 끝

In [195]:
print('구구단을 외워봅시다 허허허허')
g, i = 2, 1
for i in range(1,10):
    for g in range(2,10):
        print(f'{g} * {i} = {g*i:<3d}', end='\t')
    print()

구구단을 외워봅시다 허허허허
2 * 1 = 2  	3 * 1 = 3  	4 * 1 = 4  	5 * 1 = 5  	6 * 1 = 6  	7 * 1 = 7  	8 * 1 = 8  	9 * 1 = 9
2 * 2 = 4  	3 * 2 = 6  	4 * 2 = 8  	5 * 2 = 10 	6 * 2 = 12 	7 * 2 = 14 	8 * 2 = 16 	9 * 2 = 18
2 * 3 = 6  	3 * 3 = 9  	4 * 3 = 12 	5 * 3 = 15 	6 * 3 = 18 	7 * 3 = 21 	8 * 3 = 24 	9 * 3 = 27
2 * 4 = 8  	3 * 4 = 12 	4 * 4 = 16 	5 * 4 = 20 	6 * 4 = 24 	7 * 4 = 28 	8 * 4 = 32 	9 * 4 = 36
2 * 5 = 10 	3 * 5 = 15 	4 * 5 = 20 	5 * 5 = 25 	6 * 5 = 30 	7 * 5 = 35 	8 * 5 = 40 	9 * 5 = 45
2 * 6 = 12 	3 * 6 = 18 	4 * 6 = 24 	5 * 6 = 30 	6 * 6 = 36 	7 * 6 = 42 	8 * 6 = 48 	9 * 6 = 54
2 * 7 = 14 	3 * 7 = 21 	4 * 7 = 28 	5 * 7 = 35 	6 * 7 = 42 	7 * 7 = 49 	8 * 7 = 56 	9 * 7 = 63
2 * 8 = 16 	3 * 8 = 24 	4 * 8 = 32 	5 * 8 = 40 	6 * 8 = 48 	7 * 8 = 56 	8 * 8 = 64 	9 * 8 = 72
2 * 9 = 18 	3 * 9 = 27 	4 * 9 = 36 	5 * 9 = 45 	6 * 9 = 54 	7 * 9 = 63 	8 * 9 = 72 	9 * 9 = 81

In [198]:
# breack


hap = 0
for i in range(1,11):
    hap += i
    if hap >= 20:
        print(i, hap)
        break

print(hap)

6 21
21

In [199]:
prompt = """
1. ADD
2. Del
3. Quit

Enter number:
"""
input_num = 0

while True:
    print(prompt)
    input_num = int(input())
    if input_num == 3:
        break

1. ADD
2. Del
3. Quit

Enter number:

In [202]:
# continue
hap = 0
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i, end=" ")
    hap += i

print('\n',hap)

1 3 5 7 9
 25

In [ ]:
import random

answer = random.randint(1,100)

print(answer)

while True:
    x = int(input('정답을 입력해 주세요: '))
    if  x < answer:
        print('UP')
    elif x > answer:
        print('DOWN')
    else :
        print('정답입니다.')
        break

54
UP
UP
DOWN
DOWN
정답입니다.

In [267]:
import random

answer = random.randint(1,100)

print(answer)

while True:
    x = int(input('정답을 입력해 주세요: '))
    difference = x - answer
    if difference == 0:
        print('정답입니다.') 
        break
    elif 0 < difference < 10:
        print('쪼금 더 작게!')
    elif difference >= 10:
        print('많이 작게!')
    elif -10 < difference < 0:
        print('쪼금 더 크게!')
    else:
        print('많이 크게!')

39
많이 크게!
많이 크게!
많이 크게!
많이 크게!
많이 크게!
많이 크게!
많이 크게!
많이 크게!
쪼금 더 크게!
정답입니다.

In [300]:
# 20 보다 작은 정수 중에서 3의 배수와 5의 배수를 제외하고 출력

x = 0

while True:
    if x >= 20:
        break
    if x % 3 == 0 or x % 5 == 0:
        x += 1
        continue
    print(x, end=' ')
    x += 1

1 2 4 7 8 11 13 14 16 17 19

In [303]:
x = 0

while True:
    x += 1
    if x >= 20:
        break
    if x % 3 == 0:
        print(x, '3의 배수')
    elif x % 5 == 0:
        print(x, '5의 배수')
        continue
    print(x, end=' ')

1 2 3 3의 배수
3 4 5 5의 배수
6 3의 배수
6 7 8 9 3의 배수
9 10 5의 배수
11 12 3의 배수
12 13 14 15 3의 배수
15 16 17 18 3의 배수
18 19

In [346]:
for i in range(1, 11):
    for i in range(1,i*2-1):
        print('*', end=' ')
    print('\n')

* *

* * * *

* * * * * *

* * * * * * * *

* * * * * * * * * *

* * * * * * * * * * * *

* * * * * * * * * * * * * *

* * * * * * * * * * * * * * * *

* * * * * * * * * * * * * * * * * *

In [363]:
for i in range(20,1,-1):
    for i in range(20,(2*i-1)):
        print('*', end=' ')
    print('\n')

* * * * * * * * * * * * * * * * * * *

* * * * * * * * * * * * * * * * *

* * * * * * * * * * * * * * *

* * * * * * * * * * * * *

* * * * * * * * * * *

* * * * * * * * *

* * * * * * *

* * * * *

* * *

*

In [364]:
height = int(input('트리높이 입력하세요.: '))

i = 1

while i < height:
    print(' ' * (height - i - 1) + '*' * (2 * i * + 1))
    i += 1

                  **
                 ****
                ******
               ********
              **********
             ************
            **************
           ****************
          ******************
         ********************
        **********************
       ************************
      **************************
     ****************************
    ******************************
   ********************************
  **********************************
 ************************************
**************************************

#### list

In [365]:
a = []

print(type(a))

<class 'list'>

In [377]:
a = [1, 2, 3]
b = ['Life', 'is', 'too', 'short']
c = [1, 'hello']
d = [1, 'hello', [2, 'hi']]

In [ ]:
b = ['Life', 'is', 'too', 'short']

b[0]

'Life'

In [379]:
b[-1]

'short'

In [380]:
b[:3]

['Life', 'is', 'too']

In [381]:
b[1:]

['is', 'too', 'short']

In [382]:
b[:]

['Life', 'is', 'too', 'short']

In [383]:
d[2][1]

'hi'

In [384]:
d[2][1][1]

'i'

In [387]:
a = [1, 2, 3, ['a','b','c'],4 , 5]

print(a[3][:2])

['a', 'b']

In [395]:
a = [10 , 20, 30, 40 ,50]

In [396]:
print(a)

a[1]=100

print(a)

[10, 20, 30, 40, 50]
[10, 100, 30, 40, 50]

In [398]:
print(a)

a[1:3] = [100]

print(a)

[10, 100, 200, 40, 50]
[10, 100, 40, 50]

In [400]:
fruits = ['apple', 'banana']

In [ ]:
print(fruits)

fruits.append('cherry')

print(fruits)

['apple', 'banana']
['apple', 'banana', 'cherry']

In [402]:
print(fruits)
fruits.insert(1, 'mango')
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry']

In [403]:
print(fruits)
fruits.pop()
print(fruits)

['apple', 'mango', 'banana', 'cherry']
['apple', 'mango', 'banana']

In [404]:
print(fruits)
fruits.pop(1)
print(fruits)

['apple', 'mango', 'banana']
['apple', 'banana']

In [405]:
print(fruits)
fruits.remove('apple')
print(fruits)

['apple', 'banana']
['banana']

In [410]:
score = [5, 30, 70, 50, 100]

In [411]:
print(score)
score.sort(reverse=True)
print(score)

[5, 30, 70, 50, 100]
[100, 70, 50, 30, 5]

In [412]:
len(score)

5

In [414]:
score = [5, 50, 30, 70, 50, 100, 50]

In [415]:
score.count(50)

3

In [418]:
print(min(score))
print(max(score))
print(sum(score))

5
100
355

In [422]:
score = [100,50, 30, 50, 80,50, 90, 70]

print(sum(score) / len(score))

65.0

In [452]:
marks = [90, 25, 67, 45, 80]

a = 0

for i in marks:
    a += 1
    if i >= 60:
        print(f'{a}번 학생은 합격 입니다.')
    else:
        print(f'{a}번 학생은 불합격입니다.')
print('\n')

1번 학생은 합격 입니다.
2번 학생은 불합격입니다.
3번 학생은 합격 입니다.
4번 학생은 불합격입니다.
5번 학생은 합격 입니다.

In [458]:
print("끝말잇기 게임")
print("시작")

words = []
current_word = input('첫 번째 단어를 입력하세요.: ')
words.append(current_word)
print(current_word)


while True:
    last = current_word[-1]
    new_word = input(f"'{last}로 시작하는 단어를 입력하세요.: ")

    if new_word == '나가기':
        print('게임을 종료합니다!')
        break
    elif new_word in words:
        print('이미 사용된 단어입니다. 다른 단어를 사용하세요.')
        continue
    elif new_word[0] != last:
        print(f"'{last}'로 시작하는 단어를 입력하세요.: ")
        continue
    words.append(new_word)
    current_word = new_word
    print(new_word)

끝말잇기 게임
시작
바보
보물
물질
'질'로 시작하는 단어를 입력하세요.:
'질'로 시작하는 단어를 입력하세요.:
질
이미 사용된 단어입니다. 다른 단어를 사용하세요.
'질'로 시작하는 단어를 입력하세요.:
게임을 종료합니다!

In [5]:
print("끝말잇기 게임 시작!!!")
print("Let's go!")

words = []
crn_word = input('시작 단어를 입력하세요!')
words.append(crn_word)
print(crn_word)

while True:
    last_word = crn_word[-1]
    n_word = input(f"'{last_word}'로 시작하는 단어를 입력하세요!'")
    if n_word == '그만':
        print('게임을 종료합니다!')
        break
    elif n_word[0] != last_word:
        print(f'"{last_word}"로 시작하는 단어를 입력하세요!')
        continue
    elif n_word in words:
        print('이미 사용된 단어입니다!')
        continue
    words.append(n_word)
    crn_word = n_word
    print(n_word)

끝말잇기 게임 시작!!!
Let's go!
김치
치성
성숙
숙모
모모
"모"로 시작하는 단어를 입력하세요!
"모"로 시작하는 단어를 입력하세요!
"모"로 시작하는 단어를 입력하세요!
게임을 종료합니다!

### 2024-12-23

In [ ]:
# 구구단 출력

2 4 6 8 10 12 14 16 18

In [8]:
for su in range(1,10):
    print(2*su ,end = ' ')

2 4 6 8 10 12 14 16 18

In [15]:
for su in range(1,10):
    for dan in range(1,10):
        print(f'{dan} * {su} = {dan*su: <3d}', end = '\t' )
    print()

1 * 1 = 1  	2 * 1 = 2  	3 * 1 = 3  	4 * 1 = 4  	5 * 1 = 5  	6 * 1 = 6  	7 * 1 = 7  	8 * 1 = 8  	9 * 1 = 9
1 * 2 = 2  	2 * 2 = 4  	3 * 2 = 6  	4 * 2 = 8  	5 * 2 = 10 	6 * 2 = 12 	7 * 2 = 14 	8 * 2 = 16 	9 * 2 = 18
1 * 3 = 3  	2 * 3 = 6  	3 * 3 = 9  	4 * 3 = 12 	5 * 3 = 15 	6 * 3 = 18 	7 * 3 = 21 	8 * 3 = 24 	9 * 3 = 27
1 * 4 = 4  	2 * 4 = 8  	3 * 4 = 12 	4 * 4 = 16 	5 * 4 = 20 	6 * 4 = 24 	7 * 4 = 28 	8 * 4 = 32 	9 * 4 = 36
1 * 5 = 5  	2 * 5 = 10 	3 * 5 = 15 	4 * 5 = 20 	5 * 5 = 25 	6 * 5 = 30 	7 * 5 = 35 	8 * 5 = 40 	9 * 5 = 45
1 * 6 = 6  	2 * 6 = 12 	3 * 6 = 18 	4 * 6 = 24 	5 * 6 = 30 	6 * 6 = 36 	7 * 6 = 42 	8 * 6 = 48 	9 * 6 = 54
1 * 7 = 7  	2 * 7 = 14 	3 * 7 = 21 	4 * 7 = 28 	5 * 7 = 35 	6 * 7 = 42 	7 * 7 = 49 	8 * 7 = 56 	9 * 7 = 63
1 * 8 = 8  	2 * 8 = 16 	3 * 8 = 24 	4 * 8 = 32 	5 * 8 = 40 	6 * 8 = 48 	7 * 8 = 56 	8 * 8 = 64 	9 * 8 = 72
1 * 9 = 9  	2 * 9 = 18 	3 * 9 = 27 	4 * 9 = 36 	5 * 9 = 45 	6 * 9 = 54 	7 * 9 = 63 	8 * 9 = 72 	9 * 9 = 81

In [ ]:
# 자판기 만들기

i = int(input('커피 갯수를 입력하세요!'))

while i > 0:
    Money = int(input('돈을 입력하세요!'))
    
    if Money == 300:
        i -= 1
        print(f'커피가 {i}잔 남았습니다')
        continue
    elif Money < 300:
        print(f'돈이 모자랍니다. 커피는 한 잔에 300원입니다.')
        continue
    elif Money > 300:
        i -= 1
        change = Money - 300
        print(f'잔돈 {change}원을 받아가세요! 커피가 {i}잔 남았습니다.')
        continue

    if i == 0:
        print('커피가 모두 소진되어 판매를 종료합니다!')
        break

print(f'맛있게 드세요! 남은커피는 {i}잔 입니다!')

if <표현식>:, while <표현식>:에서 <표현식> 부분이 bool 타입이 아니라면 실행 중에 bool타입으로 변환된다고 생각하면 좋습니다.
 
예를 들어 stock == 10일 때 
if stock: --> if 10: --> if True: 과 같이 평가됩니다.
 
stock == 0일 때에는
if stock: --> if 0: --> if False: 와 같이 평가됩니다!
 
stock이 양수이며 실행 중에 줄어든다고 가정할 때,
 
if bool(stock): : 이렇게 작성할 필요는 없습니다!
 
if stock != 0: : 이것도 굳이 이렇게 쓸 필요가 없지만, 자신이 읽기 편하다면 이렇게 쓰는 것이 좋습니다.
 
if stock > 0: : 이건 기존 코드와는 완전히 다릅니다. 만약 stock이 1씩 줄어들지 않는다면 stock이 음수가 될 수도 있습니다. 이 경우에는 stock == 0인 순간을 건너뛸 수 있기 때문에 종료 조건에 걸리지 않습니다. 즉 무한 루프에 빠질 수 있습니다. 부등호는 안전하게 이런 경우를 처리하게 도와줍니다.

수도코드

커피는 10잔
가격은 300


커피가 남아있는 동안:
    돈 입력받아
    
    돈 많아 부자야:
        커피 팔아        
        거스름돈 줘    
    아니면:
        커피 안 팔아        
        돈 그냥 돌려줘버려

#### 딕셔너리

In [ ]:
menu = {'김밥':2000, '라면':3000, '돈까스':5000}

In [41]:
print(type(menu ))

<class 'dict'>

In [42]:
menu['김밥']

2000

In [43]:
menu['김밥'] = 2500 #내부 데이터 변경 가능
menu

{'김밥': 2500, '라면': 3000, '돈까스': 5000}

In [44]:
menu['떡볶이'] = 3000 #dic에 없는 값 대입하면 추가됨
menu

{'김밥': 2500, '라면': 3000, '돈까스': 5000, '떡볶이': 3000}

In [45]:
menu['로제떡볶이'] += 3000 
menu

KeyError: '로제떡볶이'

In [8]:
menu = {'김밥':2000, '라면':3000, '돈까스':5000}

In [9]:
menu.keys()

dict_keys(['김밥', '라면', '돈까스'])

In [10]:
menu.values()

dict_values([2000, 3000, 5000])

In [11]:
list(menu.items())

[('김밥', 2000), ('라면', 3000), ('돈까스', 5000)]

In [12]:
for menu_item in menu.keys():
    print(menu)

{'김밥': 2000, '라면': 3000, '돈까스': 5000}
{'김밥': 2000, '라면': 3000, '돈까스': 5000}
{'김밥': 2000, '라면': 3000, '돈까스': 5000}

In [13]:
for price in menu.values():
    print(price)

2000
3000
5000

In [14]:
for price in menu.items():
    print(price)

('김밥', 2000)
('라면', 3000)
('돈까스', 5000)

In [15]:
menu.pop('김밥')

2000

In [16]:
menu

{'라면': 3000, '돈까스': 5000}

In [17]:
menu.popitem()

('돈까스', 5000)

In [18]:
addrs = {'name': 2000 ,'phone':3000 , 'addr':5000}

In [19]:
addr_list = [{'name': 2000 ,'phone':3000 , 'addr':5000},
             {'name': 2000 ,'phone':3000 , 'addr':5000},
             {'name': 2000 ,'phone':3000 , 'addr':5000}]

In [20]:
for key, value in menu.items():
    print(key, value)

라면 3000

In [21]:
menu['김밥']

KeyError: '김밥'

In [25]:
a_list = [3, 'hello', [4, 5, 6], {'a' : 1, 'b' : 2} ]

In [ ]:
addr_list = [{'name' : 'ryan1', 'phone' : '010-1234-5678', 'addr' : '인천'},
             {'name' : 'ryan2', 'phone' : '010-1234-5678', 'addr' : '인천'}
             {'name' : 'ryan3', 'phone' : '010-1234-5678', 'addr' : '인천'}]

{'name' : 'ryan', 'phone' : '010-1234-5678', 'addr' : '인천'}

In [35]:
# ToDo리스트 만들기!

todolist = []


while True:
    print('메뉴 선택(1: 추가, 2: 삭제, 0: 종료)?')
    listnum = int(input('번호를 입력하세요')) 
    print('*'*40)
    
    if listnum == 0:
        if not todolist:
            print('할 일이 없습니다! 프로그램을 종료합니다.')
            print('*'*40)
        else:
            print('할일을 전부 하셨군요! 프로그램을 종료합니다.')
            print('*'*40)
        break
    
    if listnum == 1:
        todo = input('할 일을 입력하세요')
        todolist.append(todo)
        print('현재 할 일 목록:', todolist, '\n')
        print('*'*40)
    elif listnum == 2:
        if not todolist:
            print('제거할 할 일이 없습니다. 할 일을 추가하세요.')
            print('*'*40)
        else:
            done = input('완료한 일을 입력하세요')
            todolist.remove(done)
            print(todolist,'\n')
            

    if listnum >= 3:
        print('메뉴 선택 오류입니다. 다시 선택하세요')
        print('*'*40)

print('프로그램이 종료되었습니다.')
print('*'*40)

메뉴 선택(1: 추가, 2: 삭제, 0: 종료)?
****************************************
현재 할 일 목록: ['밥먹기']

****************************************
메뉴 선택(1: 추가, 2: 삭제, 0: 종료)?
****************************************
[]

메뉴 선택(1: 추가, 2: 삭제, 0: 종료)?
****************************************
현재 할 일 목록: ['볼일보개ㅣ']

****************************************
메뉴 선택(1: 추가, 2: 삭제, 0: 종료)?
****************************************
현재 할 일 목록: ['볼일보개ㅣ', '산책가기']

****************************************
메뉴 선택(1: 추가, 2: 삭제, 0: 종료)?
****************************************
할일을 전부 하셨군요! 프로그램을 종료합니다.
****************************************
프로그램이 종료되었습니다.
****************************************

In [42]:
# 전화번호부 만들기!

numbook = {}

while True:
    print('메뉴 선택(1:추가,2:검색,3:삭제,0:종료)')
    number = int(input('실행할 메뉴를 숫자로 입력하세요!'))
    if number == 0:
        print('프로그램을 종료합니다!')
        print('*'*60)
        break

    if number == 1:
        print('친구를 추가합니다!')
        f_name = input('추가할 친구 이름을 입력하세요!')
        f_num = input('추가할 친구의 번호를 입력하세요!')
        numbook[f_name] = f_num
        print('현재 친구 목록:', numbook)
        print('*'*60)
    
    elif number == 2:
        fr_name = input('검색할 친구 이름을 입력하세요!')
        if fr_name in numbook:
            print(f'{fr_name}의 번호는 {numbook[fr_name]}입니다.')
        else:
            print(f'{fr_name}는 친구 목록에 없습니다.')
        print('*'*60)
    elif number == 3:
        fre_name = input('삭제할 친구 이름을 입력하세요!')
        if fre_name in numbook:
            del(numbook[fre_name])
            print('성공적으로 삭제되었습니다!')
            print('현재 친구 목록:', numbook)
        else:
            print('연락처에 없는 친구입니다!')
        print('*'*60)
            
    if number >= 4:
        print('메뉴 선택 오류입니다. 다시 선택하세요!')
        print('*'*60)
        
print('프로그램이 종료되었습니다!')
print('*'*60)

메뉴 선택(1:추가,2:검색,3:삭제,0:종료)
친구를 추가합니다!
현재 친구 목록: {'오동준': '01087020971'}
************************************************************
메뉴 선택(1:추가,2:검색,3:삭제,0:종료)
연락처에 없는 친구입니다!
************************************************************
메뉴 선택(1:추가,2:검색,3:삭제,0:종료)
현재 친구 목록: {}
************************************************************
메뉴 선택(1:추가,2:검색,3:삭제,0:종료)
프로그램을 종료합니다!
************************************************************
프로그램이 종료되었습니다!
************************************************************

In [ ]:
#파이썬 용어 사전

Dic_python = {'python':'a high-level programmin language', 'loop':'a sequence of instructions that are continually repeated'}

while True:
    print('메뉴를 선택하세요(1.검색,2.단어추가,3.단어삭제,0.종료료)')
    menu_num = int(input('원하는 메뉴를 숫자로 입력하세요!'))
    if menu_num == 0:
        print('사전을 종료합니다!')
        print('*'*100)
        break    

    if menu_num == 1:
        s_word = input('검색할 단어를 입력하세요')
        if s_word in Dic_python:
            print('검색한 단어', s_word, 'is', Dic_python[s_word])
        else:
            print('그런 단어 없어요!')
        print('*'*100)
    elif menu_num == 2:
        d_word = input('삭제할 단어를 입력하세요')

        if d_word in Dic_python:
            del(Dic_python[d_word])
            print('현재 남아있는 단어:', Dic_python)
        else:
            print('해당 단어는 사전에 없습니다.')
        print('*'*100)
    elif menu_num == 3:
        p_word = input('추가할 단어를 입력하세요')
        p_mean = input('해당단어의 뜻을 입력하세요')
        Dic_python[p_word] = p_mean
        print('현재 단어목록:', Dic_python)
        print('*'*100)
    else:
        print('번호를 다시 확인하세요!')
        print('*'*100)
        continue
print('*'*100)

#### 튜플 -> immutable

In [53]:
t1 = ()

In [54]:
print(type(t1))

<class 'tuple'>

In [58]:
t2 = (1,2,3)

In [61]:
print(type(t2))

<class 'tuple'>

In [64]:
t3 = 1,2,3

In [65]:
print(type(t3))

<class 'tuple'>

In [70]:
t5 = ('a', 1, ('ab', 'cd'))

In [74]:
t5[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [75]:
del t5[0]

TypeError: 'tuple' object doesn't support item deletion

In [76]:
list(range(5))

[0, 1, 2, 3, 4]

In [77]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [5]:
fruit = ['사과', '포도', '홍시']



print('좋아하는 과일은?')
while True:
    fru = input('단어를 입력해 주세요')    
    if fru in fruit:
        print('정답입니다!')
        break
    else:
        print('오답입니다...')
print('*'*40)

좋아하는 과일은?
정답입니다!
****************************************

##### 내장 함수

### 사용자 정의 함수

In [ ]:
def 함수이름(매개변수):
    수행할 명령어
    return 리턴값

In [6]:
def Sayhi():
    print('Hi')

In [7]:
Sayhi()
Sayhi()

Hi
Hi

In [8]:
print(Sayhi)

<function Sayhi at 0x00000233C3619DA0>

In [10]:
def NameHi(name):
    print(f'{name}야 안녕~~~')

In [11]:
NameHi('Cristiano')
NameHi('Ronaldo')
NameHi('Lionel')
NameHi('Messi')

Cristiano야 안녕~~~
Ronaldo야 안녕~~~
Lionel야 안녕~~~
Messi야 안녕~~~

In [12]:
def HiReturn():
    return 'Hi'

In [13]:
b = HiReturn()
print(b)

Hi

In [14]:
def add(a, b):
    return a+b

In [15]:
add_num = add(3,4)
print(add_num)

7

In [16]:
def num_max(num1,num2,num3) :
    largest = num1
    if num2 > num1:
        largest = num2
    if num3 > num2:
        largest = num3

    return largest

L_num = num_max(10,12,7)
print(L_num)

12

In [19]:
# 숫자들의 배열을 입력하면 가장 작은 값을 구하는 함수
testArray = [52,273,32,103,275,24,57]
def num_min(testArray):
    smallest_num = testArray[0]
    for num in testArray:
        if num < smallest_num:
            smallest_num = num
    return smallest_num

print(num_min(testArray))

24

In [25]:
my_list = [1,3,2,10,12,11,15]

def print_even(my_list):
    
    even = []
    even_num = my_list
    for num in my_list:
        if num % 2 == 0:
            even_num = num
            even.append(num)
    return even

print(print_even(my_list))

[2, 10, 12]

In [25]:
# 윤년을 확인하는 함수 만들기

def isLeapYear(yaer):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

years = [2022, 2010, 2000, 1900]    
for year in years:
    if isLeapYear(year):
        print(f"{year}은 윤년입니다: {isLeapYear(year)}")
    else:
        print(f"{year}은 윤년이 아닙니다: {isLeapYear(year)}")

2022은 윤년이 아닙니다: False
2010은 윤년이 아닙니다: False
2000은 윤년입니다: True
1900은 윤년이 아닙니다: False

In [26]:
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

In [27]:
print(add_many(2,3))
print(add_many(1,2,3,4,5,6,7,8,9,10))

5
55

In [28]:
print('a','b','c','d', end=" ")

a b c d

In [29]:
def add_mul(choice, *args):
    if choice == 'add' :
        result = 0
        for i in args:
            result += i
    elif choice== 'mul':
        result = 1
        for i in args:
            result += i
    return result

In [30]:
print(add_mul('add', 1,2,3,4,5))
print(add_mul('mul',1,2,3))

15
7

In [31]:
def add_mul(choice, *args):
    if choice == 'add' :
        result = 0
        for i in args:
            result += i
    elif choice== 'mul':
        result = 1
        for i in args:
            result += i
    return result

In [32]:
def add_and_mul (a,b):
    return a+b, a*b

In [33]:
result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [34]:
def func(a, b):
    return a+b, a-b, a*b, a//b

In [35]:
num1 = func(10,3)
print(num1)

(13, 7, 30, 3)

In [36]:
num1, num2, num3, num4 = func(10,3)
print(num1, num2, num3, num4)

13 7 30 3

##### 2024-12-24

In [37]:
a = b = 10 
c, d = 30, 'Hello'
e= 35
print(a, b, c, d, e)

10 10 30 Hello 35

In [38]:
# movue_rank 리스트에 배트맨 추가

movie_rank = ['닥터 스트레인지','스플릿','럭키']
movie_rank.append('베트맨')

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [39]:
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [40]:
movie_rank.pop(-1)
movie_rank.pop(2)
movie_rank.pop()

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [41]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [42]:
phone_number = "010-1234-5678"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1234 5678

In [43]:
a, b, c = input().split()
s = int(a) + int(b) + int(c)

print(s)

ValueError: not enough values to unpack (expected 3, got 0)

In [50]:
a, b, c = input().split()
d = str(a), float(b), int(c)

print( type(a), type(b),  type(c) )
print('name =', a, 'height =', b, 'age =', c)

<class 'str'> <class 'str'> <class 'str'>
name = 오동준 height = 172.2 age = 25

In [53]:
d = {'kim' : 34000, 'lee' : 12000, 'park' : 1200, 'lew' : 0, 'song' : 3420}

total_sum = sum(d.values())

print('합계 =', total_sum)

합계 = 50620

In [59]:
def make_list (string) :
    char_list = list(string)
    return char_list

result = make_list('abcd')
print(result)

['a', 'b', 'c', 'd']

In [74]:
aa = 1
def vartest(aa):
    aa = aa + 1
    return aa

vartest(aa)
print(aa)

1

In [77]:
# map(funtion.iterable)

myList = [1,2,3,4,5]

#모든 요소를 1씩 증가 시키기


def add_one(n):
    return n+1\
    
# result = []
# for i in myList:
#     a = add_one(i)
#     result.append(a)

result = list(map(add_one, myList))

print(result)

[2, 3, 4, 5, 6]

In [78]:
f = (3.14, -5.625, 100.4, 25.8)
result = list(map(round, f))
print(result)

[3, -6, 100, 26]

In [92]:
r = (52, 255, 39, 132)
g = (19, 63, 227, 197)
b = (0, 68, 255, 187)

img = list(zip(r, g, b))

print(img)

[(52, 19, 0), (255, 63, 68), (39, 227, 255), (132, 197, 187)]

In [111]:
fru = ('apple', 'orange', 'banana', 'mango')

tag = dict(enumerate(fru,1))

print(tag)

{1: 'apple', 2: 'orange', 3: 'banana', 4: 'mango'}

In [114]:
def f(x):
    return 6 < x < 10

x = [8,3,2,10,15,7,1,9,0,11]
a = list(filter(f, x))
print(a)

[8, 7, 9]

In [115]:
myList = [1,2,3,4,5]

#모든 요소를 1씩 증가 시키기


#def add_one(n):
#    return n+1\
    
# result = []
# for i in myList:
#     a = add_one(i)
#     result.append(a)

result = list(map(lambda x: x+1, myList))

print(result)

[2, 3, 4, 5, 6]

In [117]:
f = lambda x, y : x + y
print(f(2, 3))

5

In [123]:
numbers = [1,2,3,4]
swuared = list(map(lambda x : x * x, numbers))

print(swuared)

[1, 4, 9, 16]

In [127]:
numbers = [1,2,3,4,5]
even_numbers = list(filter(lambda x : x % 2 == 0, numbers))

print(even_numbers)

[2, 4]

In [132]:
points = [(1, 2), (2, 3), (5, 1)]
sorted_points = sorted(points, key=lambda x : x[1])

print(sorted_points)

[(5, 1), (1, 2), (2, 3)]

In [139]:
a = ['applemint','banana','cherrycoke']
new_a = sorted(a, key = len)

print(new_a)

['banana', 'applemint', 'cherrycoke']

In [140]:
my_dict = {3: 'a', 1: 'b', 2: 'c'}

new_dict = sorted(my_dict.items())

print(my_dict)
print(new_dict)

{3: 'a', 1: 'b', 2: 'c'}
[(1, 'b'), (2, 'c'), (3, 'a')]

In [141]:
my_dict = {3: 'a', 1: 'b', 2: 'c'}

new_dict = sorted(my_dict.items(), key = lambda item : item[1])

print(my_dict)
print(new_dict)

{3: 'a', 1: 'b', 2: 'c'}
[(3, 'a'), (1, 'b'), (2, 'c')]

### 모듈

In [142]:
import math

In [143]:
math.pow(2,3)

8.0

In [147]:
import math as m

m.pow(2,4)
m.sqrt(9)

3.0

In [148]:
from math import pow, sqrt

pow(2,4)
sqrt(9)

3.0

In [202]:
numbers = list(range(1,46))
selected_numbers = []

for i in range (6):
    index = (i*7) % len(numbers)
    selected_number = numbers.pop(index)
    selected_numbers.append(selected_number)

print(", ".join(map(str, selected_numbers)))

1, 9, 17, 25, 33, 41

In [203]:
import random

random_numbers = random.sample(range(0,45), 6)

print(random_numbers)

[16, 22, 19, 7, 26, 3]

In [231]:
class Dog:
    species = "Doberman"
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    

    def bark(self):
        return f'{self.name} is barking'

In [232]:
dog1 = Dog('Happy', 3)

In [233]:
dog1.bark()

'Happy is barking'

In [234]:
type(dog1)

__main__.Dog

In [12]:
class Fourcal:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    def add(self):
        result = self.num1 + self.num2
        return result
    def sub(self):
        result = self.num1 - self.num2
        return result
    def mul(self):
        result = self.num1 * self.num2
        return result
    def div(self):
        result = self.num1/ self.num2
        return result

In [13]:
a = Fourcal(7, 3)
b = Fourcal(3, 2)

In [14]:
d = Fourcal(5,0)

In [ ]:
d.div()

ZeroDivisionError: division by zero

In [ ]:
a.add()

10

In [249]:
a.sub()

4

In [250]:
a.num1

7

In [251]:
a.num2

3

In [45]:
class AdvancedFourCal(Fourcal):
    def pow(self):
        return self.num1 ** self.num2

In [46]:
c = AdvancedFourCal(4,2)

In [47]:
c.add()

6

In [48]:
c.sub()

2

In [16]:
numbers = [1,2,3,4,5,6,7]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6]

In [51]:
numbers = numbers = [1,2,3,4,5,6,7]
even_d_numbers = [x**2 for x in numbers if x % 2 == 0]
print(even_d_numbers)

[4, 16, 36]